body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

img {
    height: 250px;
    width: 250px;
    transition: transform .2s;
}

img:hover(transform:scale(.9)) #App {
    background-color: cornflowerblue;
}

#Games {
    background-color: blue;
}

#Chatbot {
    background-color: darkblue;
}

#carousel100 img {
    height: 250px;
    width: 250px;
    margin-top: 50px;
}
